@media screen and (max-width: 1200px){

    .contenedor-footer{
        grid-template-areas: 
            "entrega operador"
            "abierto24 abierto24"
            "suscribete suscribete"
            "recomendaciones recomendaciones";
    }
   
    iframe{
        width: 560px;
    }

}

@media screen and (max-width: 800px){
    .contenedor-footer {
        display: flex;
        justify-content: start;
        align-content: center;
        flex-direction: column;}

    iframe{
        width: 80%;
    }
}

@media screen and (max-width: 320px) {

        iframe{
            width: 100%;
        }
}    
