.navbar{
    position: sticky;
    top: 0px;
    background-color: $color-primario;
    z-index: 999;

    
}

.nav-item{
    a:hover{
       color:  $color-terciario;
    }
}

.nav-link{
    color: #ffffff;

}


//EXTEND 
.boton{
    border: #000000 solid 1px !important;
}

.btn{
    @extend.boton;
    border-radius: 10px;
    background-color: #ffffff;
    color:#000000;
}

.form-control{
    @extend.boton;
}

.container-img {
    img{ width: 70px;}
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: flex-start;
}
